@header-font: 'PT Sans';
@paragraph-font: 'Raleway';
@sub-header-font-size: 20px;
@paragraph-font-size: 16px;
@event-img-width: 280px;
@event-img-height: 210px;
@gray-overlay: #8a8888;
@border-radius: 15px;
@facebook-color: #365899;
@youtube-color: hsl(3, 81.8%, 49.6%);
@header-color: #2dd6a0;
@alt-header-color: #ffde6b;
@full-screen-width: 100vw;


.container {
	max-width: 100%;
	padding: 0;
}

.row {
	margin-right: 0;
}

.hide {
	display: none;
}

.inline {
	display: inline-block;
}

h2 {
	font-family: @header-font, sans-serif;
	font-weight: bold;
}

p {
	font-family: @paragraph-font, sans-serif;
	font-size: @paragraph-font-size;
}
