@import "./base.less";

.event-details {
	h2 {
		font-size: 23px;
	}

	p {
		margin-bottom: 5px;
	}

	i {
		margin-right: 5px;
	}

	.images {
		position: relaitve;
	}

	.main-img {
		height: @event-img-height;
		width: @event-img-width;
		position: absolute;
    	left: 15px;
	}

	.backup-img {
		height: @event-img-height;
		width: @event-img-width;
	}

	.top-content {
		position: relative;
		height: 275px;
		overflow: hidden;
		background-color: #eaeae8;

		a {
			color: black;
			text-decoration: none;
		}

		.background-img {
			height: auto;
			width: 100%;
			position: absolute;
			z-index: 0;
			filter:opacity(15%) blur(5px);
			bottom: -500px;
		}
	}

	.info-container{
		padding: 10px;
	}

	.social-container {
		height: 50px; 
		width: 100px;
		margin-top: 15px;

		.fb-share-button a{
			padding: 7px !important;
			color: white;
			text-decoration: none;
			background-color: @facebook-color;
			width: 125px;
			height: 75px;
		}
	}

	.sub-info {
		.sub-info-margins {
			margin: 0 10px 18px 10px;
		}

		margin-top: 30px;

		h2 {
			.sub-info-margins();
		}

		.map {
			img {
				height: @event-img-height;
				width: @event-img-width;
			}
		}

		.youtube-link {
			.sub-info-margins();
			color: black;
			background-color: white;
			text-decoration: none;
			border-radius: 10px;
		    border: 1px solid #e62117;
		    padding: 6px;
		    display: inline-block;
		}
	}
}

@media (max-width: 768px) { 
	.event-details {	
		width: @full-screen-width;
		margin: 0 auto;

		.hide-xs {
			display: none;
		}

		.top-content {
			@top-content-height: 445px;
			height: @top-content-height;

			.background-img {
				height: @top-content-height;
				bottom: -110px;
			}
		}

		.main-img {
			width: @full-screen-width;
			position: absolute;
	    	left: 15px;
	    	top: 0;
		}

		.backup-img {
			width: @full-screen-width;
		}

		.info-container{
			margin-top: 8px;
			padding: 10px;
		}

		.sub-info {
			margin-top: 0;
			min-height: 200px;

			.map {
				padding-right: 0;
				img {
					width: 100%;
				}
			}

			.performers {
				background-color: @youtube-color;
				min-height: @event-img-height;
				padding-top: 25px;
			}
		}
	}
}

@media only screen and (min-width : 768px) and (max-width : 992px) { 
	.event-details {	
		.top-content {
			.background-img {
				bottom: -250px;
			}
		}
	}
}